.navbar {
    background-color: rgb(58, 89, 49);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Clear floats within */
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: flex-start; /* Align items to the left */
}

.nav-links li {
    margin: 0; 
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    color:white
}


.nav-links li a:hover {
    background-color: rgb(72, 91, 40);
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-weight: lighter;
    padding-top: 25px;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: lighter;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;

}

p1 {
    font-family: "Times New Roman", Times, serif;
    font-size: medium;

}

a button{
    background-color: darkolivegreen;
    color: white;
    font-family: "Times New Roman", Times, serif;
    border: darkolivegreen;
    margin-bottom: 135px;

}


header {
    font-family: "Times New Roman", Times, serif;
}

.btn.btn-primary.active {
    color: white;
    background-color: darkolivegreen;
    border-color: darkolivegreen;

}

::marker{
    display: none;
}

.side-menu .btn-primary.active {
    color: rgb(0, 0, 0);
    background-color: #dfe1e4;
    border-color: #dfe1e4;

}

.side-menu{
    font-family: "Times New Roman", Times, serif;
    background-color: white;  
    padding: 20px; 
    border-right: 1px solid white;
}

.side-menu ul{
    margin-top: 0;
    margin-bottom: 15px;
    color: #495057;
}

.side-menu ul li {
    margin-bottom: 10px;
}

.side-menu ul li a {
    display: block;
    color: #343a40; 
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px; 
}

.side-menu ul li a:hover {
    background-color: #e9ecef; 
}

.team-image1 img{
    width: 100%;
    margin-bottom: 100px;
}

.team-image2 img{
    width: 100%;
    margin-bottom: 350px;
}

.team-image3 img{
    width: 100%;
}

.office-img img{
    margin-top: 50px;
}

.logo img{
    margin-left: 15px;
}